<mat-card class="video-list-item">
  <mat-card-title>{{ video?.title }}</mat-card-title>
  <img mat-card-image [src]="video?.thumbnail" />
  <mat-card-content>
    Likes: {{ video?.likeCount }} <br />
    <span *ngIf="video?.viewCount !== undefined">View count: {{ video?.viewCount }}<br/></span>
    Added to library: {{ video?.createdAt | date: 'dd/MM/yyyy'}}
  </mat-card-content>
  <mat-card-actions>
    <button type="button" (click)="delete(video.id)">delete</button>
    <button type="button" (click)="setAsFavorite(video.id)">favorite</button>
    <button mat-raised-button (click)="playVideo(video.id)">Watch</button>
  </mat-card-actions>
</mat-card>
