<mat-card class="video-list-item">
  <mat-card-title class="title">{{ video?.title }}</mat-card-title>
  <img mat-card-image [src]="video?.thumbnail" (click)="playVideo(video.id)" />
  <mat-card-content>
    <span *ngIf="!!video?.viewCount; else noViews">view count: {{ video?.viewCount }}<br/></span>
    <ng-template #noViews><br /></ng-template>
    likes: {{ video?.likeCount }} <br />
    added to library: {{ video?.createdAt | date: "dd/MM/yyyy" }}
  </mat-card-content>
  <mat-card-actions class="buttons-container">
    <button type="button" (click)="delete(video.id)">
      <span class="material-icons">delete</span>
    </button>
    <button
      type="button"
      (click)="setAsFavorite(video.id)"
      [ngClass]="{ isFavorite: video.isFavorite }">
      <span class="material-icons">favorite</span>
    </button>
      <button mat-raised-button (click)="toVideoPage(video.id)">
      <span class="material-icons">play_circle_filled</span>
    </button>
  </mat-card-actions>
</mat-card>
