.wrapper{
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding: 20px 20px 0 20px;
    justify-content: center;
  }

  .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
input{
    width:100%;
    font-size: 16px;
    color: black;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    transition: 0.7s;
    -webkit-transition: 0.7s;
  }

  input:focus {
    border-bottom: 2px solid #555;
  }

  button {
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    background-color: #e7e7e7;
  }

  button:hover{
    background-color: #dddbdb;
    cursor: pointer;
  }

  .submitButton{
  }
