<mat-card class="video-list-item">
  <mat-card-title class="title">{{ video?.title }}</mat-card-title>
  <iframe
    [src]="safeUrl"
    width="560"
    height="315"
    frameborder="0"
    allowfullscreen>
  </iframe>
  <mat-card-content>
    <span *ngIf="!!video?.viewCount; else noViews"
      >view count: {{ video?.viewCount }}<br
    /></span>
    <ng-template #noViews><br /></ng-template>
    likes: {{ video?.likeCount }} <br />
    added to library: {{ video?.createdAt | date: "dd/MM/yyyy" }}
  </mat-card-content>
  <mat-card-actions class="buttons-container">
    <button type="button" (click)="back()">
      go back
      <span class="material-icons">undo</span>
    </button>
  </mat-card-actions>
</mat-card>
